flows_NODE-RED.json
[{"id":"dbb2ec69765a7ff6","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"c9d5a92012ecb306","type":"mqtt in","z":"dbb2ec69765a7ff6","name":"PZEM_MQTT","topic":"casa/sensor/mediciones","qos":"0","datatype":"auto-detect","broker":"b04f8e9ce5f432f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":200,"wires":[["630bfed6e8ab02b2"]]},{"id":"630bfed6e8ab02b2","type":"function","z":"dbb2ec69765a7ff6","name":"function 1","func":"// Este código prepara el JSON para el Google Apps Script\n// La propiedad 'payload' contiene los datos del PZEM\nmsg.payload = {\n    voltage: msg.payload.voltage,\n    current: msg.payload.current,\n    power: msg.payload.power,\n    energy: msg.payload.energy_kwh,\n    frequency: msg.payload.frequency,\n    pf: msg.payload.power_factor\n};\n\n// Necesario para que el Apps Script lo interprete como JSON\nmsg.headers = {\n    \"content-type\": \"application/json\"\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":200,"wires":[["9c3de521cf95af7b"]]},{"id":"9c3de521cf95af7b","type":"http request","z":"dbb2ec69765a7ff6","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://script.google.com/macros/s/AKfycbxRNdw_sv9pZEi1L2nxLu3IHjlpSi4KVN_6e4nv4E5HIbNmd0IMo2ft0n9lygHaa7zz/exec","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":550,"y":200,"wires":[[]]},{"id":"b04f8e9ce5f432f9","type":"mqtt-broker","name":"PZEM","broker":"2cc1f642275341abaf6a5055158034e4.s1.eu.hivemq.cloud","port":"8883","tls":"4e7a284a1d6f2ed1","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"3","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"4e7a284a1d6f2ed1","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""}]